<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!--
      Public repos should use nuget.org:
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
      Corporate networks that block nuget.org can use an internal mirror instead.
    -->
    <add key="nuget-mirror" value="https://packagefeedproxy.microsoft.io/nuget/v3/index.json" />
  </packageSources>
</configuration>
